[submodule "expected"]
	path = expected
	url = https://github.com/TartanLlama/expected.git
[submodule "sqlite_modern_cpp"]
	path = sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
[submodule "libisofs"]
	path = libisofs
	url = https://github.com/vyacheslavs/libisofs.git
